<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>个人课程</title>
        <link rel="stylesheet" href="/lib/weui/weui.css"/>
        <link rel="stylesheet" href="/lib/weui/example.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ontouchstart>
        <div id="content"></div>

        <script type="text/template" id="tpl-main">
            <div class="page__hd">
                <h1 class="page__title">个人课程</h1>
                <p class="page__desc">{{ student_id }}</p>
            </div>
            <div class="page__bd">
                <div class="weui-panel weui-panel_access">
                    {% for day in week %}
                    <div class="weui-panel__hd">{{ day }}</div>
                    <div class="weui-panel__bd">
                        {% for cls in classes[loop.index - one] %}
                        <a href="/learn/course_info?open_id={{ open_id }}&course_id={{ cls.courseid }}" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">{{ cls.coursename }}</h4>
                                <p class="weui-media-box__desc">{{ cls.start }} | {{ cls.classroom }}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </script>

        <script type="text/javascript" src="/lib/zepto.min.js"></script>
        <script type="text/javascript" src="/lib/swig/swig.min.js"></script>
        <script type="text/javascript" src="/lib/page.js"></script>
        <script type="text/javascript" src="/lib/weui/weui.min.js"></script>
        <script type="text/javascript" src="/js/openid.js"></script>
        <script type="text/javascript" src="/js/render.js"></script>

        <!--调用JSSDK-->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="/js/JSSDK.js"></script>
        <script type="text/javascript">
            var jssdk_function_list = ['closeWindow'];
            callJSSDK(jssdk_function_list);
        </script>

        <script type="text/javascript">
            $(function() {
                var locals = {};
                var openid;

                var route = {
                    init: function(ctx, next) {
                        next();
                    },
                    main: function(ctx, next) {
                        $.get('/api/welcome/check_bind/', {
                            open_id: openid
                        }, function (data) {
                            locals.student_id = data.data.student_id;
                            var isBind = data.data.bind;
                            if (isBind) {
                                locals.week = ['周一', '周二', '周三', '周四', '周五', '周六', '周日'];
                                locals.one = 1;
                                $.get('/api/learn/course_list', {
                                    open_id: openid
                                }, function(data) {
                                    locals.classes = data.data.classes;
                                    render('main', locals);
                                    $('.weui-media-box_appmsg').click(function () {
                                        weui.loading('跳转中...');
                                    });
                                });
                            } else {
                                weui.alert('请绑定学号', function(){
                                    wx.closeWindow();
                                });
                            }
                        });
                    }
                }

                getOpenId(function (get_open_id) {
                    openid = get_open_id;
                    locals.open_id = openid;
                    page.base('/learn/course_list');
                    page('/', route.main);
                    page('*', route.init);
                    page({hashbang: true});
                    page();
                });
            });
        </script>
    </body>
</html>
