<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title></title>
        <link rel="stylesheet" href="/lib/weui/weui.css"/>
        <link rel="stylesheet" href="/lib/weui/example.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ontouchstart>
        <div class="weui-toptips weui-toptips_warn js_tooltips">Failed to load resource: 请求的 URL 在此服务器上找不到。</div>

        <div id="content">
            <div id="my_course_holder">
                <div class="page__hd">
                    <h1 class="page__title">本人课程</h1>
                    <p class="page__desc" id="student_id"></p>
                </div>
                <div class="page__bd">
                    <div class="weui-panel weui-panel_access" id="monday">
                        <div class="weui-panel__hd">周一</div>
                        <div class="weui-panel__bd" id="monday_courses">

                        </div>
                    </div>
                    <div class="weui-panel weui-panel_access" id="tuesday">
                        <div class="weui-panel__hd">周二</div>
                        <div class="weui-panel__bd" id="tuesday_courses">

                        </div>
                    </div>
                    <div class="weui-panel weui-panel_access" id="wednesday">
                        <div class="weui-panel__hd">周三</div>
                        <div class="weui-panel__bd" id="wednesday_courses">

                        </div>
                    </div>
                    <div class="weui-panel weui-panel_access" id="thursday">
                        <div class="weui-panel__hd">周四</div>
                        <div class="weui-panel__bd" id="thursday_courses">

                        </div>
                    </div>
                    <div class="weui-panel weui-panel_access" id="friday">
                        <div class="weui-panel__hd">周五</div>
                        <div class="weui-panel__bd" id="friday_courses">

                        </div>
                    </div>
                    <div class="weui-panel weui-panel_access" id="saturday">
                        <div class="weui-panel__hd">周六</div>
                        <div class="weui-panel__bd" id="saturday_courses">

                        </div>
                    </div>
                    <div class="weui-panel weui-panel_access" id="sunday">
                        <div class="weui-panel__hd">周日</div>
                        <div class="weui-panel__bd" id="sunday_courses">

                        </div>
                    </div>
                </div>
            </div>
            <div id="unbind_error_holder">
                请先进行绑定（未绑定的错误界面代码）
            </div>
        </div>

        <script type="text/javascript" src="/lib/zepto.min.js"></script>
        <script type="text/javascript" src="/lib/swig.min.js"></script>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/base.js"></script>
        <script type="text/javascript" src="/js/course_list.js"></script>
        <script>
            var courses = {};
            $(function () {
                api.get('/api/my/course', {openid: urlParam.openid}, function (data) {
                    showBind(data['valid']);
                    if(data['valid']){
                        document.getElementById('student_id').innerText = data['student_id'];
                        courses = loadsCourses(data['courses']);
                        showCourses(courses);
                    }
                }, dftFail);
            });

        </script>
    </body>
</html>
