<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title></title>
        <link rel="stylesheet" href="/lib/weui/weui.css"/>
        <link rel="stylesheet" href="/lib/weui/example.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ontouchstart>
        <div id="content"></div>

        <script type="text/template" id="tpl-main">
            <div class="page__hd">
                <h1 class="page__title">绑定账号</h1>
            </div>
            <div class="page__bd">
                <div class="weui-cells__title">绑定账号</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell_hd">
                            <label class="weui-label">学号/工号</label>
                        </div>
                        <div class="weui-cell_bd weui-cell_primary">
                            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入学号/工号" required />
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell_hd">
                            <label class="weui-label">密码</label>
                        </div>
                        <div class="weui-cell_bd weui-cell_primary">
                            <input type="password" class="weui-input" placeholder="请输入密码" required />
                        </div>
                    </div>
                </div>
                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:;" id="submitBtn">确认</a>
                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-success">
            <div class="page__hd">
                <h1 class="page__title">绑定账号</h1>
            </div>
            <div class="page__bd">
                <div class="weui-msg">
                    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                    <div class="weui-msg__text-area">
                        <h2 class="weui-msg__title">操作成功</h2>
                        <p class="weui-msg__desc">成功绑定了学号/工号</p >
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" onclick="page('/fail');" id="submitBtn">确认</a>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-fail">
            <div class="page__hd">
                <h1 class="page__title">绑定账号</h1>
            </div>
            <div class="page__bd">
                <div class="weui-msg">
                    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
                    <div class="weui-msg__text-area">
                        <h2 class="weui-msg__title">操作失败</h2>
                        <p class="weui-msg__desc">学号/工号或密码验证错误</p>
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_plain-primary" onclick="page('/');" id="submitBtn">返回</a>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/javascript" src="/lib/zepto.min.js"></script>
        <script type="text/javascript" src="/lib/swig/swig.min.js"></script>
        <script type="text/javascript" src="/lib/page.js"></script>
        <script type="text/javascript" src="/js/base.js"></script>

        <script type="text/javascript">
            $(function() {
                var route = {
                    init: function(ctx, next) {
                        next();
                    },
                    main: function(ctx, next) {
                        ctx.data = {};
                        render('main', ctx.data);
                    },
                    success: function(ctx, next) {
                        ctx.data = {};
                        render('success', ctx.data);
                    },
                    fail: function(ctx, next) {
                        ctx.data = {};
                        render('fail', ctx.data);
                    }
                };

                page.base('/welcome/account_bind');
                page('/', route.main);
                page('/success', route.success);
                page('/fail', route.fail);
                page('*', route.init);
                page();

                $('#submitBtn').click(function(e){
                    page('/success');
                    e.preventDefault();
                })
            });
        </script>
    </body>
</html>
