<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>绑定账号</title>
        <link rel="stylesheet" href="/lib/weui/weui.css"/>
        <link rel="stylesheet" href="/lib/weui/example.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ontouchstart>
        <div id="content"></div>

        <script type="text/template" id="tpl-main">
            <div class="weui-toptips weui-toptips_warn js_tooltips" id="tips-empty">学号密码不能为空</div>
            <div class="weui-toptips weui-toptips_warn js_tooltips" id="tips-fail">学号密码验证错误</div>
            <div class="weui-toptips weui-toptips_warn js_tooltips" id="tips-duplicate">该学号已经绑定</div>
            <div class="weui-toptips weui-toptips_warn js_tooltips" id="tips-unknown">未知错误</div>
            <div class="page__hd">
                <h1 class="page__title">绑定账号</h1>
            </div>
            <div class="page__bd">
                <div class="weui-cells__title">绑定账号</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell_hd">
                            <label class="weui-label">学号/工号</label>
                        </div>
                        <div class="weui-cell_bd weui-cell_primary">
                            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入学号/工号" id="inputStudentID" required/>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell_hd">
                            <label class="weui-label">密码</label>
                        </div>
                        <div class="weui-cell_bd weui-cell_primary">
                            <input type="password" class="weui-input" placeholder="请输入密码" id="inputPassword" required/>
                        </div>
                    </div>
                </div>
                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" id="submitBtn">确认</a>
                </div>
                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_default" id="closeBtn" onclick="wx.closeWindow();">返回</a>
                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-success">
            <div class="page__hd">
                <h1 class="page__title">绑定账号</h1>
            </div>
            <div class="page__bd">
                <div class="weui-msg">
                    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                    <div class="weui-msg__text-area">
                        <h2 class="weui-msg__title">操作成功</h2>
                        <p class="weui-msg__desc">成功绑定了学号/工号</p>
                        <p class="weui-msg__desc">{{ student_id }}</p>
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" id="submitBtn" onclick="wx.closeWindow();">确认</a>
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_warn" id="unbindBtn">解绑</a>
                    </div>
                </div>
            </div>
            <div id="dialogs">
                <!--BEGIN iosUnbind-->
                <div class="js_dialog" id="iosUnbind" style="display: none;">
                    <div class="weui-mask"></div>
                    <div class="weui-dialog">
                        <div class="weui-dialog__hd"><strong class="weui-dialog__title">解绑操作</strong></div>
                        <div class="weui-dialog__bd">请确认是否解绑？</div>
                        <div class="weui-dialog__ft">
                            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="iosConfirmUnbind">确认</a>
                        </div>
                    </div>
                </div>
                <!--END iosUnbind-->
                <!--BEGIN androidUnbind-->
                <div class="js_dialog" id="androidUnbind" style="display: none;">
                    <div class="weui-mask"></div>
                    <div class="weui-dialog weui-skin_android">
                        <div class="weui-dialog__hd"><strong class="weui-dialog__title">解绑操作</strong></div>
                        <div class="weui-dialog__bd">请确认是否解绑？</div>
                        <div class="weui-dialog__ft">
                            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" id="androidConfirmUnbind">确认</a>
                        </div>
                    </div>
                </div>
                <!--END androidUnbind-->
            </div>
        </script>

        <script type="text/javascript" src="/lib/zepto.min.js"></script>
        <script type="text/javascript" src="/lib/swig/swig.min.js"></script>
        <script type="text/javascript" src="/lib/page.js"></script>
        <script type="text/javascript" src="/js/openid.js"></script>
        <script type="text/javascript" src="/js/render.js"></script>

        <!--调用JSSDK-->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="/js/JSSDK.js"></script>
        <script type="text/javascript">
            var jssdk_function_list = ['closeWindow'];
            callJSSDK(jssdk_function_list);
        </script>


        <script type="text/javascript">

            var locals = {};
            var openid;

            var route = {
                init: function(ctx, next) {
                    next();
                },
                main: function(ctx, next) {

                    $.get('/api/welcome/check_bind/', {
                        open_id: openid
                    }, function (data) {
                        locals.student_id = data.data.student_id;
                        var isBind = data.data.bind;
                        if (isBind) {
                            page.redirect('#!success');
                        } else {
                            render('main', locals);

                            $('#submitBtn').click(function() {
                                var student_id = $('#inputStudentID').val();
                                var password = $('#inputPassword').val();
                                if (student_id.length && password.length) {
                                    $.post('/api/welcome/account_bind', {
                                        open_id: openid,
                                        student_id: student_id,
                                        password: password
                                    }, function(data) {
                                        if (data.code == 0) {
                                            locals.student_id = student_id;
                                            page('#!success');
                                        } else if (data.code == 1) {
                                            showToolTips('tips-empty');
                                        } else if (data.code == 2) {
                                            showToolTips('tips-duplicate');
                                        } else if (data.code == 3) {
                                            showToolTips('tips-fail');
                                        } else {
                                            showToolTips('tips-unknown');
                                        }
                                    })
                                } else {
                                    showToolTips('tips-empty');
                                }
                            });
                        }
                    });
                },
                success: function(ctx, next) {
                    render('success', locals);

                    var $unbind, $confirmUnbind;
                    if (getMobileOperatingSystem() == 'iOS') {
                        $unbind = $('#iosUnbind');
                        $confirmUnbind = $('#iosConfirmUnbind');
                    } else {
                        $unbind = $('#androidUnbind');
                        $confirmUnbind = $('#androidConfirmUnbind');
                    }
                    $('#unbindBtn').click(function() {
                        $unbind.fadeIn(200);
                    });
                    $('.weui-dialog__btn_default').click(function() {
                        $(this).parents('.js_dialog').fadeOut(200);
                    });
                    $confirmUnbind.click(function() {
                        $.post('/api/welcome/unbind', {
                            open_id: openid,
                        }, function (data) {
                            $unbind.fadeOut(200);
                            if (data.code == 0) {
                                locals.student_id = undefined;
                                page(' ');
                            } else {
                                showToolTips('tips-fail');
                            }
                        })
                    });
                }
            };

            getOpenId(function(open_id) {
                openid =  open_id;
                page.base('/welcome/account_bind');
                page('/', route.main);
                page('success', route.success);
                page({hashbang: true});
                page();
            });

        </script>

    </body>
</html>
