<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>课程评价</title>
        <link rel="stylesheet" href="/lib/weui/weui.css"/>
        <link rel="stylesheet" href="/lib/weui/example.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ontouchstart>
        <div id="content"></div>

        <script type="text/template" id="tpl-main">
            <div class="page__hd">
                <h1 class="page__title">课程评价</h1>
                <p class="page__desc">发布课程评价需另进入[课程列表]</p>
            </div>
            <div class="page__bd">
                {% for comment in comments %}
                <div class="weui-form-preview">
                    <div class="weui-form-preview__hd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">课程</label>
                            <em class="weui-form-preview__value">{{ comment.course_name }}</em>
                        </div>
                    </div>
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">姓名</label>
                            <span class="weui-form-preview__value">{{ comment.real_name }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">评价</label>
                            <span class="weui-form-preview__value">{{ comment.content }}</span>
                        </div>
                    </div>
                    {% if loop.last and rest == 1 %}
                    <div class="weui-form-preview__ft">
                        <a class="weui-form-preview__btn weui-form-preview__btn_primary" id="more">查看更多</a>
                    </div>
                    {% endif %}
                </div>
                <br>
                {% endfor %}
            </div>
        </script>

        <script type="text/javascript" src="/lib/zepto.min.js"></script>
        <script type="text/javascript" src="/lib/swig/swig.min.js"></script>
        <script type="text/javascript" src="/lib/page.js"></script>
        <script type="text/javascript" src="/lib/weui/weui.min.js"></script>
        <script type="text/javascript" src="/js/openid.js"></script>
        <script type="text/javascript" src="/js/render.js"></script>

        <!--调用JSSDK-->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="/js/JSSDK.js"></script>
        <script type="text/javascript">
            var jssdk_function_list = ['closeWindow'];
            callJSSDK(jssdk_function_list);
        </script>

        <script type="text/javascript">
            $(function() {
                var locals = {};
                locals.rest = 1;

                var route = {
                    init: function(ctx, next) {
                        next();
                    },
                    main: function(ctx, next) {
                        $.get('/api/welcome/check_bind/', {
                            open_id: sessionStorage.openid
                        }, function (data) {
                            locals.student_id = data.data.student_id;
                            var isBind = data.data.bind;
                            if (isBind) {
                                $.get('/api/course/comment/list', {
                                    open_id: sessionStorage.openid
                                }, function(data) {
                                    if (data.data.length < 10) locals.rest = 0;
                                    locals.comments = data.data;
                                    if (locals.comments.length === 0) {
                                        sessionStorage.curid = 0;
                                    } else {
                                        sessionStorage.curid = locals.comments[locals.comments.length-1].id;
                                    }
                                    render('main', locals);
                                    $('#more').click(function() {
                                        (function showMore() {
                                            $.get('/api/course/comment/list', {
                                                open_id: sessionStorage.openid,
                                                end_id: sessionStorage.curid
                                            }, function(data) {
                                                if (data.data.length < 10) locals.rest = 0;
                                                locals.comments = locals.comments.concat(data.data);
                                                if (locals.comments.length === 0) {
                                                    sessionStorage.curid = 0;
                                                } else {
                                                    sessionStorage.curid = locals.comments[locals.comments.length-1].id;
                                                }
                                                render('main', locals);
                                                $('#more').click(showMore);
                                            });
                                        })();
                                    });
                                });
                            } else {
                                weui.alert('请绑定学号', function(){ wx.closeWindow(); });
                            }
                        });

                    }
                };

                getOpenId(function (get_open_id) {
                    sessionStorage.openid = get_open_id;
                    page.base('/learn/course_comment');
                    page('/', route.main);
                    page('*', route.init);
                    page({hashbang: true});
                    page();
                });
            });
        </script>
    </body>
</html>
