.title {
    color: steelblue;
}

.communication-name {
    font-size: 12px;
    color: #888888;
}

.communication-message {
    font-size: 14px;
    color: #000000;
}

.weui-form-preview__btn_warn {
  color: #E64340;
}
