<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>个人日历</title>
        <link rel="stylesheet" href="/lib/weui/weui.css"/>
        <link rel="stylesheet" href="/lib/weui/example.css">
        <link rel="stylesheet" href="/lib/calendar/fullcalendar.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ontouchstart>
        <div id="content"></div>

        <script type="text/template" id="tpl-main">
            <div class="page__hd">
                <h1 class="page__title">个人日历</h1>
                <p class="page__desc">{{ now }}</p>
            </div>
            <div class="page__bd">
                <div class="page__category js_categoryInner" style>
                    <div class="weui-cells page__bd_spacing">
                        <div id='calendar'></div>
                    </div>
                    <div class="weui-cells page__category-content">
                        <a class="weui-cell weui-cell_access js_item" id="showSelectFormat" href="javascript:;">
                            <div class="weui-cell__bd">
                                <p>显示格式</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" id="eventListBtn">
                            <div class="weui-cell__bd">
                                <p>事件列表</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access js_item" id="eventAddBtn">
                            <div class="weui-cell__bd">
                                <p>添加事件</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id='tpl-add'>
            <div class="page__hd">
                <h1 class="page__title">{{ title }}</h1>
                <p class="page__desc">{{ now }}</p>
            </div>
            <div class="page__bd">
                <div id="form">
                    <div class="weui-cells__title">事件名称</div>
                    <div class="weui-cells">
                        <div class="weui-cell weui-cells_form">
                            <div class="weui-cell__bd">
                                <input type="text" class="weui-input" id="inputName" required placeholder="请输入事件名称" emptyTips="请输入事件名称" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="weui-cells__title">事件日期</div>
                    <div class="weui-cells">
                        <div class="weui-cell weui-cells_form">
                            <div class="weui-cell__bd">
                                <input type="date" class="weui-input" id="inputDate" required emptyTips="请输入事件日期" value="">
                            </div>
                        </div>
                    </div>
                    <div class="weui-cells__title">事件内容</div>
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <textarea class="weui-textarea" id="inputContent" required placeholder="请输入事件内容" emptyTips="请输入事件内容" rows="5" maxlength="200"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_primary" id="confirmBtn">确定</a>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-list">
            <div class="page__hd">
                <h1 class="page__title">事件列表</h1>
                <p class="page__desc">{{ now }}</p>
            </div>
            <div class="page__bd">
                {% for day in events %}
                <div class="weui-panel weui-panel_access">
                    <div class="weui-panel__hd">{{ day[0].date }}</div>
                    <div class="weui-panel__bd">
                        {% for event in day %}
                        <a class="weui-media-box weui-media-box_appmsg" onclick="page('detail?id={{ event.id }}');">
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">{{ event.name }}</h4>
                                <p class="weui-media-box__desc">{{ event.content }}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div class="weui-panel weui-panel_access">
                    <div class="weui-panel__ft">
                        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" id="more">
                            <div class="weui-cell__bd">查看更多</div>
                            <span class="weui-cell__ft"></span>
                        </a>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-detail">
            <div class="page__hd">
                <h1 class="page__title">事件详情</h1>
                <p class="page__desc"></p>
            </div>
            <div class="page__bd">
                <div class="weui-form-preview">
                    <div class="weui-form-preview__hd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">事件名称</label>
                            <em class="weui-form-preview__value">{{ detail.name }}</em>
                        </div>
                    </div>
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">事件日期</label>
                            <span class="weui-form-preview__value">{{ detail.date }}</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">事件详情</label>
                            <span class="weui-form-preview__value">{{ detail.content }}</span>
                        </div>
                    </div>
                    <div class="weui-form-preview__ft">
                        <a class="weui-form-preview__btn weui-form-preview__btn_primary" id="modifyBtn">修改</a>
                        <a class="weui-form-preview__btn weui-form-preview__btn_warn" id="deleteBtn">删除</a>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/javascript" src="/lib/calendar/jquery.min.js"></script>
        <script type="text/javascript" src="/lib/calendar/moment.min.js"></script>
        <script type="text/javascript" src="/lib/calendar/fullcalendar.min.js"></script>
        <script type="text/javascript" src="/lib/swig/swig.min.js"></script>
        <script type="text/javascript" src="/lib/page.js"></script>
        <script type="text/javascript" src="/lib/weui/weui.min.js"></script>
        <script type="text/javascript" src="/js/openid.js"></script>
        <script type="text/javascript" src="/js/render.js"></script>

        <!--调用JSSDK-->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="/js/JSSDK.js"></script>
        <script type="text/javascript">
            var jssdk_function_list = ['closeWindow'];
            callJSSDK(jssdk_function_list);
        </script>

        <script type="text/javascript">
            $(function() {
                var locals = {
                    now: moment().format('YYYY-MM-DD')
                };
                var openid;

                var route = {
                    init: function (ctx, next) {
                        next();
                    },
                    main: function (ctx, next) {
                        render('main', locals);
                        $('#calendar').fullCalendar({
                            header: {
                                left: 'prev',
                				center: 'title',
                                right: 'next',
                			},
                            navLinks: false,
                			editable: true,
                			eventLimit: false,
                            events: [
                                {
                					title: 'DDL',
                					start: '2016-12-01'
                				}
                            ]
                        });
                        $('#showSelectFormat').click(function () {
                            weui.actionSheet([
                                {
                                    label: '月',
                                    onClick: function () {
                                        $('#calendar').fullCalendar('changeView', 'month');
                                    }
                                }, {
                                    label: '周',
                                    onClick: function () {
                                        $('#calendar').fullCalendar('changeView', 'listWeek');
                                    }
                                }, {
                                    label: '日',
                                    onClick: function () {
                                        $('#calendar').fullCalendar('changeView', 'listDay');
                                    }
                                }
                            ], [
                                {
                                    label: '取消'
                                }
                            ]);
                        });
                        $('#eventListBtn').click(function () {
                            page('#!list');
                        });
                        $('#eventAddBtn').click(function () {
                            page('#!add');
                        });
                    },
                    add: function (ctx, next) {
                        locals.title = "添加事件";
                        render('add', locals);
                        $('#inputDate').val(locals.now);
                        $('#confirmBtn').click(function () {
                            weui.form.validate('#form', function (error) {
                                if (!error) {
                                    var loading = weui.loading('提交中...');
                                    $.post('/api/event/create', {
                                        open_id: openid,
                                        name: $('#inputName').val(),
                                        date: $('#inputDate').val(),
                                        content: $('#inputContent').val()
                                    }, function (data) {
                                        loading.hide();
                                        page('');
                                    });
                                }
                            });
                        });
                    },
                    list: function (ctx, next) {
                        var loading = weui.loading('数据加载中...');
                        $.get('/api/event/list', {
                            open_id: openid,
                            mode: 'day'
                        }, function (data) {
                            loading.hide();
                            locals.events = data.data.events;
                            console.log(data.data.events);
                            render('list', locals);
                            var showMore = function() {
                                // to be implemented
                                locals.events = locals.events.concat(data.data.events);
                                render('list', locals);
                                $('#more').click(showMore);
                            }
                            $('#more').click(showMore);
                        });
                    },
                    detail: function (ctx, next) {
                        var curid = getQueryParams(ctx.querystring).id;
                        $.get('/api/event/detail', {
                            open_id: openid,
                            id: curid
                        }, function (data) {
                            locals.detail = data.data;
                            locals.detail.id = curid;
                            render('detail', locals);
                            $('#modifyBtn').click(function() {
                                page('#!change');
                            });
                            $('#deleteBtn').click(function() {
                                weui.dialog({
                                    title: '删除事件',
                                    content: '请确认是否删除？',
                                    buttons: [{
                                        label: '取消',
                                        type: 'default'
                                    }, {
                                        label: '确定',
                                        type: 'primary',
                                        onClick: function () {
                                            $.post('/api/event/delete', {
                                                open_id: openid,
                                                id: curid
                                            }, function (data) {
                                                page('#!list');
                                            });
                                        }
                                    }]
                                });
                            });
                        });
                    },
                    change: function (ctx, next) {
                        locals.title = "修改事件";
                        render('add', locals);
                        $('#inputName').val(locals.detail.name);
                        $('#inputDate').val(locals.detail.date);
                        $('#inputContent').val(locals.detail.content);
                        $('#confirmBtn').click(function () {
                            weui.form.validate('#form', function (error) {
                                if (!error) {
                                    var loading = weui.loading('提交中...');
                                    $.post('/api/event/detail', {
                                        open_id: openid,
                                        id: locals.detail.id,
                                        name: $('#inputName').val(),
                                        date: $('#inputDate').val(),
                                        content: $('#inputContent').val()
                                    }, function (data) {
                                        loading.hide();
                                        page('');
                                    });
                                }
                            });
                        });
                    }
                };

                getOpenId(function (get_open_id) {
                    openid = get_open_id;
                    page.base('/life/calendar');
                    page('/', route.main);
                    page('add', route.add);
                    page('list', route.list);
                    page('detail', route.detail);
                    page('change', route.change);
                    page('*', route.init);
                    page({hashbang: true});
                    page();
                });
            });
        </script>
    </body>
</html>
