<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title></title>
        <link rel="stylesheet" href="/lib/weui/weui.css"/>
        <link rel="stylesheet" href="/lib/weui/example.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ontouchstart>
        <div id="content" style="height:100%"></div>

        <script type="text/template" id="tpl-main">
            <div class="weui-tab">
                <div class="weui-tab__panel">
                    <div class="page__hd">
                        <h1 class="page__title">通知面板</h1>
                        <p class="page__desc">{{ student_number }}</p>
                    </div>
                    <div class="page__bd">
                        {% if clickTab == 1 %}
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__hd">公告</div>
                            <div class="weui-panel__bd">
                                {% for notice in notices %}
                                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                                    <div class="weui-media-box__bd">
                                        <h4 class="weui-media-box__title">{{ notice.title }}</h4>
                                        <p class="weui-media-box__desc">{{ notice.content }}</p>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="weui-panel__ft">
                                <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                                    <div class="weui-cell__bd">查看更多</div>
                                    <span class="weui-cell__ft"></span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if clickTab == 2 %}
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__hd">作业</div>
                            <div class="weui-panel__bd">
                                {% for assignment in assignments %}
                                <a class="weui-media-box weui-media-box_appmsg">
                                    <div class="weui-media-box__bd">
                                        <h4 class="weui-media-box__title">{{ assignment.title }}</h4>
                                        <p class="weui-media-box__desc">{{ assignment.detail }}</p>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="weui-panel__ft">
                                <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                                    <div class="weui-cell__bd">查看更多</div>
                                    <span class="weui-cell__ft"></span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if clickTab == 3 %}
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__hd">课件</div>
                            <div class="weui-panel__bd">
                                {% for file in files %}
                                <div class="weui-media-box weui-media-box_text">
                                    <h4 class="weui-media-box__title">{{ file.title }}</h4>
                                    <ul class="weui-media-box__info">
                                        <li class="weui-media-box__info__meta">{{ file.size }}</li>
                                        <li class="weui-media-box__info__meta">{{ file.updating_time }}</li>
                                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ file.explanation }}</li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="weui-panel__ft">
                                <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                                    <div class="weui-cell__bd">查看更多</div>
                                    <span class="weui-cell__ft"></span>
                                </a>
                            </div>s
                        </div>
                        {% endif %}
                        {% if clickTab == 4 %}
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__hd">个人信息</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div>{{ clickTab }}</div>
                <div class="weui-tabbar">
                    {% if clickTab == 1 %}
                        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/notice_green.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">公告</p>
                        </a>
                    {% else %}
                        <a href="javascript:;" class="weui-tabbar__item">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/notice_white.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">公告</p>
                        </a>
                    {% endif %}

                    {% if clickTab == 2 %}
                        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/assignment_green.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">作业</p>
                        </a>
                    {% else %}
                        <a href="javascript:;" class="weui-tabbar__item">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/assignment_white.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">作业</p>
                        </a>
                    {% endif %}

                    {% if clickTab == 3 %}
                        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/slide_green.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">课件</p>
                        </a>
                    {% else %}
                        <a href="javascript:;" class="weui-tabbar__item">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/slide_white.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">课件</p>
                        </a>
                    {% endif %}


                    {% if clickTab == 4 %}
                        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/me_green.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">我</p>
                        </a>
                    {% else %}
                        <a href="javascript:;" class="weui-tabbar__item">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/me_white.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">我</p>
                        </a>
                    {% endif %}

                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-unbind">
            <div class="page__bd">
                <div class="weui-msg">
                    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
                    <div class="weui-msg__text-area">
                        <h2 class="weui-msg__title">尚未绑定</h2>
                        <p class="weui-msg__desc">请您先绑定学号/工号，之后再使用此功能</p>
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_default" id="backBtn" onclick="wx.closeWindow();">返回</a>
                    </div>
                </div>
            </div>
        </script>



        <script type="text/javascript" src="/lib/zepto.min.js"></script>
        <script type="text/javascript" src="/lib/swig/swig.min.js"></script>
        <script type="text/javascript" src="/lib/page.js"></script>
        <script type="text/javascript" src="/js/openid.js"></script>
        <script type="text/javascript" src="/js/render.js"></script>

        <!--调用JSSDK-->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="/js/JSSDK.js"></script>
        <script type="text/javascript">
            var jssdk_function_list = ['closeWindow'];
            callJSSDK(jssdk_function_list);
        </script>

        <script type="text/javascript">
            var locals = {};
            var route = {
                init: function(ctx, next) {
                    next();
                },
                main: function(ctx, next) {
                    $.get('/api/welcome/check_bind/', {
                        open_id: locals.open_id
                    }, function (data) {
                        locals.student_id = data.data.student_id;
                        console.log(data.data);
                        var isBind = data.data.bind;
                        if (!isBind) {
                            page.redirect('#!unbind');
                        } else {
                            $.get('/api/learn/notice_panel/get_course_id', {
                                open_id: locals.open_id
                            }, function (data) {
                                console.log(data.data)
                                locals.course_id = data.data
                            });
                            locals.clickTab = 1;
                            locals.page_num = 1;
                            page('notice', locals);
                         }
                     });
                },
                notice: function(ctx, next) {
                    $.get('/api/learn/notice_panel/notice', {}, function(data) {
                        ctx.data = data.data;
                        console.log(ctx.data);
                        render('main', locals);
                    });
                },
                assignment: function (ctx, next) {
                    alert('23')
                    $.get('/api/learn/notice_panel/assignment', {}, function(data) {
                        ctx.data = data.data;
                        console.log(ctx.data);
                        render('main', locals);
                    });
                },
                slide: function (ctx, next) {
                    alert('24')
                    $.get('/api/learn/notice_panel/slide', {}, function(data) {
                        ctx.data = data.data;
                        console.log(ctx.data);
                        render('main', locals);
                    });
                },
                me: function (ctx, next) {
                    alert('25')
                    $.get('/api/learn/notice_panel/me', {}, function(data) {
                        ctx.data = data.data;
                        console.log(ctx.data);
                        render('main', locals);
                    });
                },
                not_bind: function (ctx, next) {
                    alert('fcuk')
                    render('unbind', locals);
                },
            }


            getOpenId(function(get_open_id) {
                locals.open_id = get_open_id;
                page.base('/learn/notice_panel');
                page('/', route.main);
                page('assignment', route.assignment);
                page('slide', route.slide);
                page('me', route.me);
                page('unbind', route.not_bind);
                page('*', route.init);
                page({hashbang: true});
                page();
            });


        </script>
    </body>
</html>
