<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title></title>
        <link rel="stylesheet" href="/lib/weui/weui.css"/>
        <link rel="stylesheet" href="/lib/weui/example.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ontouchstart>
        <div id="content" style="height:100%"></div>

        <script type="text/template" id="tpl-main">
            <div class="weui-tab">
                <div class="weui-tab__panel">
                    <div class="page__hd">
                        {% if clickTab == 1 %}
                            <h1 class="page__title">公告面板</h1>
                        {% elif clickTab == 2 %}
                            <h1 class="page__title">作业面板</h1>
                        {% elif clickTab == 3 %}
                            <h1 class="page__title">课件面板</h1>
                        {% else%}
                            <h1 class="page__title">个人中心</h1>
                        {% endif %}
                    </div>
                    <div class="page__bd">
                        {% if clickTab == 1 %}
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__hd">共{{ total }}条公告</br>现在是第{{ pageNum }}页({{ totalPageNum }}页)
                                {% if pageNum != 1 %}
                                    <div class="weui-btn-area">
                                        <a class="weui-btn weui-btn_default" id="previousBtn">上一页</a>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="weui-panel__bd">

                                {% for notice in notices %}
                                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg"
                                   id = "notice_{{ notice.index }}">
                                    <div class="weui-media-box__bd">
                                        <h3 style="word-break: normal; font-weight: normal">{{ notice.title }}</h3>
                                        <h5 class="weui-media-box__title">{{ notice.coursename }}</h5>
                                        <p class="weui-media-box__desc">发布者：{{ notice.publisher }}</p>
                                        <p class="weui-media-box__desc">发布时间：{{ notice.publishtime }}</p>
                                    </div>
                                </a>
                                {% endfor %}
                                <a class="weui-media-box weui-media-box_appmsg" style="padding: 0px"></a>
                            </div>
                            {% if endPage %}
                                <div class="weui-loadmore weui-loadmore_line">
                                    <span class="weui-loadmore__tips">暂无更多数据</span>
                                </div>
                            {% else %}

                                <div class="weui-panel__hd">现在是第{{ pageNum }}页({{ totalPageNum }}页)
                                    <div class="weui-btn-area">
                                        <a class="weui-btn weui-btn_default" id="nextBtn">下一页</a>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                        {% endif %}
                        {% if clickTab == 2 %}
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__hd">共{{ total }}条作业</br>现在是第{{ pageNum }}页({{ totalPageNum }}页)
                                {% if pageNum != 1 %}
                                    <div class="weui-btn-area">
                                        <a class="weui-btn weui-btn_default" id="previousBtn">上一页</a>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="weui-panel__bd">
                                {% for assignment in assignments %}
                                <a class="weui-media-box weui-media-box_appmsg" id = "assignment_{{ assignment.index }}">
                                    <div class="weui-media-box__bd">
                                        <h3 style="word-break: normal; font-weight: normal">{{ assignment.title }}</h3>
                                        <h5 class="weui-media-box__title">{{ assignment.coursename }}</h5>
                                        <p class="weui-media-box__desc">起始日期：{{ assignment.startdate }}</p>
                                        <p class="weui-media-box__desc">截止日期：{{ assignment.duedate }}</p>
                                    </div>
                                </a>
                                {% endfor %}
                                <a class="weui-media-box weui-media-box_appmsg" style="padding: 0px"></a>
                            </div>
                            {% if endPage %}
                                <div class="weui-loadmore weui-loadmore_line">
                                    <span class="weui-loadmore__tips">暂无更多数据</span>
                                </div>
                            {% else %}

                                <div class="weui-panel__hd">现在是第{{ pageNum }}页({{ totalPageNum }}页)
                                    <div class="weui-btn-area">
                                        <a class="weui-btn weui-btn_default" id="nextBtn">下一页</a>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                        {% endif %}
                        {% if clickTab == 3 %}
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__hd">共{{ total }}条课件</br>现在是第{{ pageNum }}页({{ totalPageNum }}页)
                                {% if pageNum != 1 %}
                                    <div class="weui-btn-area">
                                        <a class="weui-btn weui-btn_default" id="previousBtn">上一页</a>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="weui-panel__bd">
                                {% for slide in slides %}
                                <a class="weui-media-box weui-media-box_appmsg" id = "slide_{{ slide.index }}">
                                    <div class="weui-media-box__bd">
                                        <h3 style="word-break: normal; font-weight: normal">{{ slide.title }}</h3>
                                        <h5 class="weui-media-box__title">{{ slide.coursename }}</h5>
                                        <p class="weui-media-box__desc">发布日期：{{ slide.updatingtime }}</p>
                                        {% if slide.explanation == '' %}
                                            <p class="weui-media-box__desc">尚无简述</p>
                                        {% else %}
                                             <p class="weui-media-box__desc">简述：{{ slide.explanation }}</p>
                                        {% endif %}
                                        <p class="weui-media-box__desc">文件大小：{{ slide.size }}</p>
                                    </div>
                                </a>
                                {% endfor %}
                                <a class="weui-media-box weui-media-box_appmsg" style="padding: 0px"></a>
                            </div>
                            {% if endPage %}
                                <div class="weui-loadmore weui-loadmore_line">
                                    <span class="weui-loadmore__tips">暂无更多数据</span>
                                </div>
                            {% else %}

                                <div class="weui-panel__hd">现在是第{{ pageNum }}页({{ totalPageNum }}页)
                                    <div class="weui-btn-area">
                                        <a class="weui-btn weui-btn_default" id="nextBtn">下一页</a>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                        {% endif %}
                        {% if clickTab == 4 %}
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-form-preview__hd">
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">学籍信息</label>
                                </div>
                            </div>
                            <div class="weui-form-preview__bd">
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">学号</label>
                                    <span class="weui-form-preview__value">{{ info.student_id }}</span>
                                </div>
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">姓名</label>
                                    <span class="weui-form-preview__value">{{ info.name }}</span>
                                </div>
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">身份</label>
                                    <span class="weui-form-preview__value">{{ info.status }}</span>
                                </div>
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">院系</label>
                                    <span class="weui-form-preview__value">{{ info.school }}</span>
                                </div>
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">电子邮箱</label>
                                    <span class="weui-form-preview__value">{{ info.email }}</span>
                                </div>
                            </div>
                            <div class="weui-form-preview__hd">
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">课程信息</label>
                                </div>
                            </div>
                            <div class="weui-form-preview__bd">
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">本学期选课门数</label>
                                    <span class="weui-form-preview__value">{{ info.course_num }}</span>
                                </div>
                                <div class="weui-form-preview__item">
                                    <label class="weui-form-preview__label">本学期选课学分</label>
                                    <span class="weui-form-preview__value">{{ info.teacher_phone }}</span>
                                </div>
                            </div>

                            <div class="page__category js_categoryInner" style>
                                <div class="weui-cells page__category-content">
                                    <a class="weui-cell weui-cell_access js_item" id="courseListBtn">
                                        <div class="weui-cell__bd">
                                            <p>课程表</p>
                                        </div>
                                        <div class="weui-cell__ft"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="weui-tabbar">
                    {% if clickTab == 1 %}
                        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on" id="notice_bar">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/notice_green.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">公告</p>
                        </a>
                    {% else %}
                        <a href="javascript:;" class="weui-tabbar__item" id="notice_bar">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/notice_white.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">公告</p>
                        </a>
                    {% endif %}

                    {% if clickTab == 2 %}
                        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on" id="assignment_bar">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/assignment_green.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">作业</p>
                        </a>
                    {% else %}
                        <a href="javascript:;" class="weui-tabbar__item" id="assignment_bar">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/assignment_white.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">作业</p>
                        </a>
                    {% endif %}

                    {% if clickTab == 3 %}
                        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on" id="slide_bar">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/slide_green.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">课件</p>
                        </a>
                    {% else %}
                        <a href="javascript:;" class="weui-tabbar__item" id="slide_bar">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/slide_white.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">课件</p>
                        </a>
                    {% endif %}


                    {% if clickTab == 4 %}
                        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on" id="me_bar">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/me_green.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">我</p>
                        </a>
                    {% else %}
                        <a href="javascript:;" class="weui-tabbar__item" id="me_bar">
                            <span style="display: inline-block;position: relative;">
                                <img src="../../img/icon/me_white.png" alt="" class="weui-tabbar__icon">
                                <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
                            </span>
                            <p class="weui-tabbar__label">我</p>
                        </a>
                    {% endif %}

                </div>
            </div>
        </script>

        <script type="text/template" id="tpl-notice_detail">
            <div class="page__hd">
                <h1 class="page__title">{{ info.title  }}</h1>
                <p class="page__desc">{{ info.coursename }}</p>
            </div>
            <div class="weui-panel">

                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">公告内容</h4>
                </div>

                <div class="weui-media-box weui-media-box_text">
                    <div id="notice_content"></div>
                </div>
                <div class="weui-media-box weui-media-box_text">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">发布者：</label>
                        <span class="weui-form-preview__value">{{ info.publisher }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">发布时间：</label>
                        <span class="weui-form-preview__value">{{ info.publishtime }}</span>
                    </div>
                </div>

            </div>

            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_default" id="backBtn">返回</a>
            </div>

        </script>

        <script type="text/template" id="tpl-assignment_detail">
            <div class="page__hd">
                <h1 class="page__title">{{ info.title  }}</h1>
                <p class="page__desc" id="course_id">{{ info.coursename }}</p>
            </div>
            <div class="weui-panel">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">截止时间：{{ info.duedate }}</h4>
                </div>
            </div>

            <div class="weui-panel">

                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">作业详情</h4>
                </div>

                <div class="weui-media-box weui-media-box_text">
                    <div id="assignment_content"></div>
                </div>

                 <div class="weui-media-box weui-media-box_text">
                     <div>附件：{{ info.filename }}</div>
                     {% if info.filename != "无相关文件" %}
                        <div>(请前往网络学堂下载)</div>
                     {% endif %}
                </div>

            </div>
            <div class="weui-panel">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">提交状况</h4>
                </div>

                <div class="weui-media-box weui-media-box_text">
                    {% if info.state == "已经提交" %}
                        {{ info.state }}({{ info.size }})
                    {% else %}
                        {{ info.state }}
                    {% endif %}

                </div>
            </div>
            <div class="weui-panel">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">批阅状况</h4>
                </div>

                <div class="weui-media-box weui-media-box_text">
                    {% if info.scored %}
                    <div class="weui-form-preview__item" id="assignment_comment">
                        <label class="weui-form-preview__label">评价：</label>
                        <span class="weui-form-preview__value">{{ info.comment }}</span>
                    </div>
                    <div class="weui-form-preview__item" >
                        <label class="weui-form-preview__label">批阅人：</label>
                        <span class="weui-form-preview__value">{{ info.evaluatingteacher }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">批阅日期：</label>
                        <span class="weui-form-preview__value">{{ info.evaluatingdate }}</span>
                    </div>
                    <div class="weui-form-preview__item">
                        {% if info.grade == -1 %}
                            <label class="weui-form-preview__label">尚无分数</label>
                        {% else %}
                            <label class="weui-form-preview__label">分数：</label>
                            <span class="weui-form-preview__value">{{ info.grade }}</span>
                        {% endif %}
                    </div>
                     {% else %}
                        尚未批阅
                     {% endif %}
                </div>

             </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_default" id="backBtn">返回</a>
            </div>
        </script>

        <script type="text/template" id="tpl-unbind">
            <div class="page__bd">
                <div class="weui-msg">
                    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
                    <div class="weui-msg__text-area">
                        <h2 class="weui-msg__title">尚未绑定</h2>
                        <p class="weui-msg__desc">请您先绑定学号/工号，之后再使用此功能</p>
                    </div>
                    <div class="weui-btn-area">
                        <a class="weui-btn weui-btn_default" id="backBtn" onclick="wx.closeWindow();">返回</a>
                    </div>
                </div>
            </div>
        </script>



        <script type="text/javascript" src="/lib/zepto.min.js"></script>
        <script type="text/javascript" src="/lib/swig/swig.min.js"></script>
        <script type="text/javascript" src="/lib/page.js"></script>
        <script type="text/javascript" src="/lib/weui/weui.min.js"></script>
        <script type="text/javascript" src="/js/openid.js"></script>
        <script type="text/javascript" src="/js/render.js"></script>

        <!--调用JSSDK-->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="/js/JSSDK.js"></script>
        <script type="text/javascript">
            var jssdk_function_list = ['closeWindow'];
            callJSSDK(jssdk_function_list);
        </script>

        <script>
            function pushHistory(url) {
                var state = {
                    title: "title",
                    url: url
                };
                window.history.pushState(state, state.title, state.url);
            }

            $(function(){
                pushHistory("#");
                window.addEventListener("popstate", function(e) {
                    if(e.state == undefined){
                        wx.closeWindow();
                    }
                    loading = weui.loading('加载中');
                    if(locals.detail != 0){
                        locals.detail = 0;
                    }
                }, false);
            });
        </script>

        <script type="text/javascript">
            var locals = {};
            var openid;
            var loading;

            var route = {
                init: function(ctx, next) {
                    next();
                },
                main: function(ctx, next) {
                    loading = weui.loading('加载中');
                    $.get('/api/welcome/check_bind/', {
                        open_id: openid
                    }, function (data) {
                        locals.studentId = data.data.studentId;
                        console.log(data.data);
                        var isBind = data.data.bind;
                        if (!isBind) {
                            page.redirect('#!unbind');
                        } else {
                            locals.endPage = false;
                            locals.clickTab = 1;
                            locals.pageNum = 1;
                            locals.detail = 0;
                            page.redirect('#!notice');
                         }
                     });
                },
                notice: function(ctx, next) {
                    if(locals.detail == 0) {

                        $.get('/api/learn/notice_panel/notice', {
                            open_id: openid,
                            page: locals.pageNum
                        }, function (data) {
                            locals.notices = data.data.notices;
                            locals.total = data.data.total;
                            locals.totalPageNum = parseInt(locals.total / 10);
                            if(locals.total % 10 != 0){
                                locals.totalPageNum += 1;
                            }

                            if (locals.pageNum == locals.totalPageNum ) {
                                locals.endPage = true;
                            }
                            else {
                                locals.endPage = false;
                            }

                            render('main', locals);

                            var noticeNum = locals.total - locals.pageNum * 10;
                            if(noticeNum > 10){
                                noticeNum = 10;
                            }

                            for (var i = 1; i <= noticeNum; i++) {
                                var id_str = '#notice_';
                                id_str += i;
                                $(id_str).click(function (i) {
                                    return function () {
                                        pushHistory("#!notice");
                                        locals.detail = i;
                                        locals.info = locals.notices[i - 1];
                                        page.redirect('#!notice');
                                    }
                                }(i));
                            }

                            $("#previousBtn").click(function () {
                                locals.pageNum--;
                                loading = weui.loading('加载中');
                                page.redirect('#!notice');
                            });
                            $("#nextBtn").click(function () {
                                locals.pageNum++;
                                loading = weui.loading('加载中');
                                page.redirect('#!notice');
                            });

                            $("#assignment_bar").click(function () {
                                locals.needLoad = true
                                locals.page_num = 1;
                                locals.clickTab = 2;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!assignment');
                            });

                            $('#slide_bar').click(function () {
                                locals.page_num = 1;
                                locals.clickTab = 3;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!slide');
                            });

                            $('#me_bar').click(function () {
                                locals.page_num = 1;
                                locals.clickTab = 4;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!me');
                            });

                            loading.hide();
                        });


                    }
                    else{
                        render('notice_detail', locals);

                        $('#notice_content')[0].innerHTML = locals.info.content;

                        $('#backBtn').click(function () {
                            locals.detail = 0;
                            loading = weui.loading('加载中');
                            locals.needLoad = true;
                            page('#!notice')
                        });

                        loading.hide();
                    }
                },
                assignment: function (ctx, next) {
                    if(locals.detail == 0) {
                        $.get('/api/learn/notice_panel/assignment', {
                            open_id: openid,
                            page: locals.pageNum
                        }, function (data) {
                            locals.assignments = data.data.assignments;
                            locals.total = data.data.total;
                            locals.totalPageNum = parseInt(locals.total / 10);
                            if(locals.total % 10 != 0){
                                locals.totalPageNum += 1;
                            }

                            if (locals.pageNum == locals.totalPageNum ) {
                                locals.endPage = true;
                            }
                            else {
                                locals.endPage = false;
                            }

                            render('main', locals);

                            var assignmentNum = locals.total - locals.pageNum * 10;
                            if(assignmentNum > 10){
                                assignmentNum = 10;
                            }

                            render('main', locals);

                            for (var i = 1; i <= assignmentNum; i++) {
                                var id_str = '#assignment_';
                                id_str += i;
                                $(id_str).click(function (i) {
                                    return function () {
                                        pushHistory("#!assignment");
                                        locals.detail = i;
                                        locals.info = locals.assignments[i - 1];
                                        page.redirect('#!assignment');
                                    }
                                }(i))
                            }

                            $("#previousBtn").click(function () {
                                locals.pageNum--;
                                loading = weui.loading('加载中');
                                page.redirect('#!assignment');
                            });
                            $("#nextBtn").click(function () {
                                locals.pageNum++;
                                loading = weui.loading('加载中');
                                page.redirect('#!assignment');
                            });

                            $("#notice_bar").click(function () {
                                locals.pageNum = 1;
                                locals.clickTab = 1;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!notice');
                            });

                            $('#slide_bar').click(function () {
                                locals.pageNum = 1;
                                locals.clickTab = 3;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!slide');
                            });

                            $('#me_bar').click(function () {
                                locals.pageNum = 1;
                                locals.clickTab = 4;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!me');
                            });

                            loading.hide();
                        });
                    }
                    else{
                        render('assignment_detail', locals);

                        $('#assignment_content')[0].innerHTML = locals.info.detail;

                        $('#backBtn').click(function () {
                            locals.detail = 0;
                            loading = weui.loading('加载中');
                            page('#!assignment')
                        });

                        loading.hide();
                    }

                },
                slide: function (ctx, next) {
                    if(locals.detail == 0) {
                        $.get('/api/learn/notice_panel/slide', {
                            open_id: openid,
                            page: locals.page_num
                        }, function (data) {
                            locals.slides = data.data.slides;
                            locals.total = data.data.total;
                            locals.totalPageNum = parseInt(locals.total / 10);
                            if(locals.total % 10 != 0){
                                locals.totalPageNum += 1;
                            }

                            if (locals.pageNum == locals.totalPageNum ) {
                                locals.endPage = true;
                            }
                            else {
                                locals.endPage = false;
                            }

                            render('main', locals);

                            var slideNum = locals.total - locals.pageNum * 10;
                            if(slideNum > 10){
                                slideNum = 10;
                            }

                            render('main', locals);

                            $("#previousBtn").click(function () {
                                locals.pageNum--;
                                loading = weui.loading('加载中');
                                page.redirect('#!slide');
                            });
                            $("#nextBtn").click(function () {
                                locals.pageNum++;
                                loading = weui.loading('加载中');
                                page.redirect('#!slide');
                            });

                            $("#notice_bar").click(function () {
                                locals.pageNum = 1;
                                locals.clickTab = 1;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!notice');
                            });

                            $("#assignment_bar").click(function () {
                                locals.pageNum = 1;
                                locals.clickTab = 2;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!assignment');
                            });

                            $('#me_bar').click(function () {
                                locals.pageNum = 1;
                                locals.clickTab = 4;
                                locals.detail = 0;
                                loading = weui.loading('加载中');
                                page.redirect('#!me');
                            });

                            loading.hide();
                        });
                    }
                    else{
                        render('slide_detail', locals);

                        $('#backBtn').click(function () {
                            locals.detail = 0;
                            loading = weui.loading('加载中');
                            page('#!slide')
                        });

                        loading.hide();
                    }
                },
                me: function (ctx, next) {
                    $.get('/api/learn/notice_panel/me', {
                        open_id: openid
                    }, function(data) {
                        locals.info = data.data;
                        console.log(data.data)
                        console.log(locals.info)

                        render('main', locals);

                        console.log($("#courseListBtn")[0])
                        $("#courseListBtn")[0].href = data.data.course_list_url;

                        $("#notice_bar").click(function (){
                            locals.page_num = 1;
                            locals.clickTab = 1;
                            locals.detail = 0;
                            loading = weui.loading('加载中');
                            page.redirect('#!notice');
                        });

                        $("#assignment_bar").click(function (){
                            locals.page_num = 1;
                            locals.clickTab = 2;
                            locals.detail = 0;
                            loading = weui.loading('加载中');
                            page.redirect('#!assignment');
                        });

                        $('#slide_bar').click(function (){
                            locals.page_num = 1;
                            locals.clickTab = 3;
                            locals.detail = 0;
                            loading = weui.loading('加载中');
                            page.redirect('#!slide');
                        });

                        loading.hide();
                    });
                },
                not_bind: function (ctx, next) {
                    render('unbind', locals);
                    loading.hide();
                }
            };

            getOpenId(function(get_open_id) {
                openid = get_open_id;
                page.base('/learn/notice_panel');
                page('/', route.main);
                page('notice', route.notice);
                page('assignment', route.assignment);
                page('slide', route.slide);
                page('me', route.me);
                page('unbind', route.not_bind);
                page('*', route.init);
                page({hashbang: true});
                page();
            });


        </script>
    </body>
</html>
